extends ../_skeleton

block variables
	- pageName = 'Forms'

block page
	include ../sections/_header-classic

	+breadcrumbs({
		bg: 'breadcrumbs-1.png',
	}).custom-mode-1

	//Forms
	section.section.section-md.bg-default.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Login form
					.group-custom-1
						a.button.button-facebook.button-icon.button-icon-left.button-round(href='#')
							span.icon.fa.fa-facebook
							| Facebook
						a.button.button-twitter.button-icon.button-icon-left.button-round(href='#')
							span.icon.fa.fa-twitter
							| Twitter
						a.button.button-google.button-icon.button-icon-left.button-round(href='#')
							span.icon.fa.fa-google-plus
							| Google+

					//RD Mailform
					form.rd-form.rd-mailform.rd-form-centered
						.form-wrap
							input#login-email.form-input(type='email' name='email' data-constraints='@Email @Required')
							label.form-label(for='login-email') E-mail

						.form-wrap
							input#login-password.form-input(type='password' name='password' data-constraints='@Required')
							label.form-label(for='login-password') Password

						button.button.button-block.button-primary(type='submit') Enter
	hr

	//Contact us
	section.section.section-md.bg-default.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Contact us
					//RD Mailform
					form.rd-form.rd-mailform.appointment-form(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-20
							.col-12.wow.fadeInRight(data-wow-dalay=".2s")
								.form-wrap
									input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-name') Your Name

							.col-md-12.wow.fadeInRight(data-wow-dalay=".3s")
								.form-wrap
									input#contact-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-phone') Phone

							.col-12.wow.fadeInRight(data-wow-dalay=".4s")
								.form-wrap
									label.form-label(for='contact-message') Your Message
									textarea#contact-message.form-input(name='message' data-constraints='@Required')

							.col-12.text-left.wow.fadeInRight(data-wow-dalay=".5s")
								button.button-primary.button.button-sm(type='submit') Make an Appointment

	hr

	//Contact Us
	section.section.section-md.bg-default.text-center
		.container
			.row.justify-content-md-center
				.col-md-9.col-lg-7.col-xl-5
					h3 Contact Us (with reCAPTCHA)
					//RD Mailform
					form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-sm-bottom.row-20
							.col-md-6
								.form-wrap
									input#contact-2-name.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-2-name') Your Name

							.col-md-6
								.form-wrap
									input#contact-2-phone.form-input(type='text' name='phone' data-constraints='@Numeric')
									label.form-label(for='contact-2-phone') Phone

							.col-12
								.form-wrap
									label.form-label(for='contact-2-message') Your Message
									textarea#contact-2-message.form-input(name='message' data-constraints='@Required')

							.col-md-6
								.form-wrap
									input#contact-2-email.form-input(type='email' name='email' data-constraints='@Email @Required')
									label.form-label(for='contact-2-email') E-mail

							.col-md-6
								.form-wrap.form-validation-left
									//Google captcha
									.recaptcha#captcha1( data-sitekey='6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt', data-auto-size='' )

							.col-12
								button.button.button-block.button-primary(type='submit') Send Message

	hr

	//Subscribe to Our Newsletter
	+parallax({
		img: 'parallax-img-1920x500',
		innerClass: 'section-lg context-dark text-center'
	}).section
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 Subscribe to Our Newsletter
			p.big Sign up to our newsletter and be the first to know about the latest company news, special offers, events, and discounts.

			form.rd-form.rd-mailform.rd-form-inline.subscribe-form-1(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
				.form-wrap
					input.form-input(id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required")
					label.form-label(for="subscribe-form-email") Your E-mail
				.form-button
					button.button.button-primary(type="submit") Subscribe

	section.section.section-md.bg-default.text-center
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 MailChimp
			p.big Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.

			//Mailchimp
			form.rd-form.mailchimp-mailform.rd-form-inline.subscribe-form-1(data-form-output='form-output-global' action='https://templatemonster.us15.list-manage.com/subscribe/post?u=ba5bb362073a413f48e4a7b90&id=8dc95d9dec' method='post')
				.form-wrap
					label.form-label(for='mailchimp-email') Enter your e-mail
					input#mailchimp-email.form-input(type='email' name='email' data-constraints='@Email @Required')
				.form-button
					button.button.button-primary(type='submit') Subscribe

	section.section.section-md.bg-default.text-center
		.container: .row.justify-content-md-center: .col-md-9.col-lg-8.col-xl-7
			h3 Campaign Monitor
			p.big Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.

			//Campaign Monitor
			form.rd-form.campaign-mailform.rd-form-inline.subscribe-form-1(data-form-output='form-output-global' action='https://templatermonster.createsend.com/t/j/s/zjjikd/' method='post')
				.form-wrap
					label.form-label(for='campaign-email') Enter your e-mail
					input#campaign-email.form-input(type='email' name='cm-zjjikd-zjjikd' data-constraints='@Email @Required')
				.form-button
					button.button.button-primary(type='submit') Subscribe

	include ../sections/_footer-classic
