extends ../_skeleton

//-Includes
include ../components/icon-box-creative
include ../components/lists
include ../components/card
include ../components/counter

block page
	include ../sections/_header-classic
	//Intro
	include ../sections/_section-intro
	//Service-creative
	include ../sections/_service-creative
	//About
	include ../sections/_about-us
	//Tabs
	include ../sections/_tabs-creative
	//Departments
	include ../sections/_departments
	//CTA
	include ../sections/_call-to-action-classic
	//Team Slider
	include ../sections/_team-slider
	//Counters
	include ../sections/_counters
	//News
	include ../sections/_news
	//Testimonials
	include ../sections/_testimonials
	//Contacts Us
	include ../sections/_contact-us
	//Footer
	include ../sections/_footer-classic
