/* ============================ */
/* HEADER */
/* ============================ */

.rd-navbar-classic.rd-navbar-static .rd-navbar-brand img {
  max-width: 270px;
  max-height: 58px;
}

/* ============================ */
/* INTRO */
/* ============================ */

.section-intro .company-logos {
  flex-wrap: wrap;
  padding: 15px 0;
}

.section-intro .company-logos img {
  padding: 15px;
  max-height: 70px;
}

.intro-box .subtitle {
  font-weight: 600;
}

/* ============================ */
/* ABOUT */
/* ============================ */

.section-about .resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.section-about .resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.section-about .pre-title {
  font-weight: 600;
  margin: 10px 0;
}

.section-about .section-lg {
  padding: 0;
}

.section-about .col-12 a {
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .bg-image-2 {
    background: url(../images/medicare-and-you.png) no-repeat left;
    background-size: cover;
    background-position: top;
  }
}

/* ============================ */
/* ABOUT */
/* ============================ */

.cta-buttons a {
  margin-top: 0;
  margin-right: 10px;
}
