section.section.bg-gray-light
	.container
		.row.row-narrow-80.flex-column-reverse.flex-lg-row.align-items-center
			.col-lg-5.d-none.d-lg-flex.align-items-end
				.media-creative.wow.fadeInLeft
					+img('home-img-499x524.png')
			.col-lg-7
				.section-lg.text-center.text-lg-left
					h2.wow.fadeInRight High-class #[span.text-primary specialists] are ready to help you at any time.
					p.text-dark.text-md.wow.fadeInRight(data-wow-dalay=".2s") Contact us any suitable way and make an appointment with the doctor whose help you need! Visit us at the scheduled time and get your treatment.
					a.wow.fadeInRight(href="contacts.html" data-wow-dalay=".2s").button-primary.button.button-md Make an appointment

