section.section.section-lg
	.container
		.head-group.text-center.text-md-left
			.head-group__title
				.pre-title.wow.fadeInLeft Departments
				h2.wow.fadeInLeft(data-wow-dalay=".2s")
					|We provide  #[span.text-primary assistance] in
					br.d-lg-block.d-none
					| various spheres
			.head-group__link
				a.wow.fadeInLeft(data-wow-dalay=".3s" href="departments.html") all Departments
		.row.row-30.justify-content-center
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".1s")
				+icon-box-modern({
					src: 'medical-icon-1-60x64',
					title: 'Pediatrics',
					caption: 'Our pediatric unit utilizes state-of-the-art technology and employs a team of true experts.'
				})
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".2s")
				+icon-box-modern({
					src: 'medical-img-2-64x64',
					title: 'Neurology',
					caption: 'We utilize the latest advances in neurological diagnostics and treatment to ensure the best outcomes.'
				})
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".3s")
				+icon-box-modern({
					src: 'medical-img-3-82x60',
					title: 'Urology',
					caption: 'We have expertise in sexual medicine, male and female urinary incontinence, erectile dysfunction.'
				})
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".4s")
				+icon-box-modern({
					src: 'medical-img-4-44x64',
					title: 'Cardiology',
					caption: 'Your heart is in the best hands at our state-of-the-art cardiovascular institute.'
				})
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".5s")
				+icon-box-modern({
					src: 'medical-img-5-54x62',
					title: 'Dental Care',
					caption: 'MedCare offers great dental care including cosmetic dental implants and emergency care.'
				})
			.col-sm-8.col-md-6.col-lg-4.wow.fadeInUp(data-wow-dalay=".6s")
				+icon-box-modern({
					src: 'medical-img-6-70x60',
					title: 'Pulmonology',
					caption: 'Our pulmonary & endoscopic procedures include bronchoscopy, thoracentesis, and chest tube insertion.'
				})

