section.section.section-lg
	.container
		.pre-title.text-center.text-md-left.wow.fadeInLeft Latest News
		h2.text-center.text-md-left.wow.fadeInLeft(data-wow-dalay=".2s") #[span.text-primary News] and healthcare tips
		.row.row-30.justify-content-center
			.col-sm-8.col-lg-4.col-md-6.wow.fadeInUp(data-wow-dalay=".2s")
				.news-box
					.news-box__media
						a(href="single-blog-post.html")
							+img('post-img-1-570x450')
						.news-box__media-label Dec 02, 2019
					.news-box__info
						a(href="single-blog-post.html") Aspirin for prevention
						p In this installment of “Aspirin for prevention,” physician-researcher Randall Stafford provides tips to calculate the risk of heart…
			.col-sm-8.col-lg-4.col-md-6.wow.fadeInUp(data-wow-dalay=".4s")
				.news-box
					.news-box__media
						a(href="single-blog-post.html")
							+img('post-img-2-570x450')
						.news-box__media-label Dec 02, 2019
					.news-box__info
						a(href="single-blog-post.html") New operating suites
						p With the opening of the new hospital and the Children’s surgical and imaging centers, MedCare will be redesigning…
			.col-sm-8.col-lg-4.col-md-6.wow.fadeInUp(data-wow-dalay=".6s")
				.news-box
					.news-box__media
						a(href="single-blog-post.html")
							+img('post-img-3-570x450')
						.news-box__media-label Dec 02, 2019
					.news-box__info
						a(href="single-blog-post.html") Epidurals increase in popularity
						p The percentage of pregnant women getting epidurals or other spinal analgesia has climbed to a high of 71…


