section.section-lg.bg-image-1.section-intro
	.container
		.row
			.col-lg-8
				.intro-box.wow.fadeInLeft(data-wow-dalay=".2s")
					span.subtitle Welcome to MedCare Clinic
					h1 The best specialists of the city expect you
					.button-group
						a(href="#").button-primary.button.button-md Make an appointment
						a(href="departments.html").button-secondary-outline.button Departments

