#appointment.modal.fade(role='dialog').text-left
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal'): span.icon.novi-icon.icon-md.fa.fa-times
				h5.modal-title Request Appointment
			.modal-body
				.group-xl.d-flex
					span.d-inline-flex.align-items-center
						span.icon.novi-icon.icon-md.icon-primary.fa.fa-calendar-check-o
						| August 11, 2019
					span.d-inline-flex.align-items-center
						span.icon.novi-icon.icon-md.icon-primary.fa.fa-clock-o
						| 10:00 am – 12:00 am
				.offset-top-10.label-group
					label.radio-inline
						input( type="radio" name="optradio" value='login' checked='checked')
						| I am a new customer
				div
					label.radio-inline
						input( type="radio" name="optradio" value='register' )
						| I am a current customer

				hr

				.register-form
					h5 Registration: #[span.text-accent *]
					p Your first name and an email address are required.
					// Login form
					form.modal-form
						.rd-mailform-inline-flex
							.form-wrap
								label.form-label(for="name-2") First Name
								input#name-2.form-input(type="text" name="name" data-constraints='@Required')
							.form-wrap
								label.form-label(for="email") E-mail
								input#email.form-input(type="email" name="email" data-constraints='@Email @Required')
						.form-wrap
							label.form-label(for="password-2") Password
							input#password-2.form-input(type="password" name="password" data-constraints='@Required')
						.group
							button(type="submit").button.button-primary Book Appointment
							button(type="button" data-dismiss="modal").button.button-secondary-outline close
				.login-form
					h5 Login
					// Login form
					form
						.form-wrap
							label.form-label(for="name") Username or e-mail
							input#name.form-input(type="text" name="name" data-constraints='@Required')
						.form-wrap
							label.form-label(for="password") Password
							input#password.form-input(type="password" name="password" data-constraints='@Required')
						.group
							button(type="submit").button.button-primary Book Appointment
							button(type="button" data-dismiss="modal").button.button-secondary-outline close
