section.section.section-sm.section-negative.bg-default
	.container
		.row.row-narrow-12.row-30.justify-content-center
			.col-12.col-lg-6.col-xl-4.wow.fadeInUp(data-wow-dalay=".1")
				+icon-box-creative({
					mode: 'secondary',
					src: 'service-1-34x44.png',
					title: 'Qualified Doctors',
					caption: 'Experienced and devoted doctors are ready to help you with your problems.'
				})
			.col-12.col-lg-6.col-xl-4.wow.fadeInUp(data-wow-dalay=".2")
				+icon-box-creative({
					mode: 'secondary-light',
					src: 'service-2-48x34.png',
					title: 'Emergency Care',
					caption: 'We are always ready to help when you need urgent help! Our emergency team is here for you!'
				})
			.col-12.col-lg-6.col-xl-4.wow.fadeInUp(data-wow-dalay=".3")
				+icon-box-creative({
					mode: 'primary',
					src: 'service-3-35x44.png',
					title: '24-Hour Service',
					caption: 'Anytime you need help, you may contact us and our receptionist will make an appointment for you.'
				})



