section.section.bg-gray-light.position-relative
	.container
		.row
			.col-xl-6.position-static
				.float-media-box__left.bg-image-2
			.col-xl-6.wow.fadeInRight(data-wow-dalay=".2s")
				.section-lg
					h2.wow.fadeInRight We carry out various #[span.text-primary studies] and analysis
					#accordion2.card-group-custom.card-group-classic.wow.fadeInRight( data-wow-dalay=".2s" role='tablist' aria-multiselectable='false' )
						+card({
							parentId: 'accordion2',
							title: 'Oncological diseases',
							show: true
						}).card-corporate
							p We are on the leading edge of cancer care, providing the full continuum of cancer treatments and supportive care services in a single convenient location. Our cancer specialists are experts at diagnosing and treating cancer tumors.

						+card({
							parentId: 'accordion2',
							title: 'Viral infections'
						}).card-corporate
							p Viral infections generally must run their course, with treatment aimed at easing symptoms and providing some relief while you’re sick. Sometimes, antiviral medications are prescribed for specific infections.

						+card({
							parentId: 'accordion2',
							title: 'Nature and technology'
						}).card-corporate
							p Nowadays people should balance their life between technological progress and natural life. Technogenic influence may cause different diseases, including cancer. It’s crucial to defend yourself from such affection.

						+card({
							parentId: 'accordion2',
							title: 'Physical Rehabilitation'
						}).card-corporate
							p A specialized rehabilitation team helps patients achieve the highest quality of life by preventing disability and improving independence through a multi-disciplinary approach which includes a lot of types of therapy.


