section.section.section-lg
	.container.text-center.text-sm-left
		.pre-title.wow.fadeInLeft Our Doctors
		h2.wow.fadeInLeft(data-wow-dalay=".2s")
			|We have the best #[span.text-primary specialists]
			br.d-none.d-lg-block
			|in the area
		.owl-carousel.owl-theme.owl-style-1( data-items='1', data-sm-items='2', data-md-items='3', data-lg-items='3', data-margin='30px', data-nav='true', data-dots='true', data-autoplay='3000')
			.team-member-profile
				.team-member-profile__media
					+img('team-1-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Mike Rolson
					span Pediatrician
			.team-member-profile
				.team-member-profile__media
					+img('team-2-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Virginia Howard
					span Dentist
			.team-member-profile
				.team-member-profile__media
					+img('team-3-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Todd Moore
					span Traumatologist
			.team-member-profile
				.team-member-profile__media
					+img('team-4-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Jason Ramirez
					span Surgeon
			.team-member-profile
				.team-member-profile__media
					+img('team-1-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Mike Rolson
					span Pediatrician
			.team-member-profile
				.team-member-profile__media
					+img('team-2-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Virginia Howard
					span Dentist
			.team-member-profile
				.team-member-profile__media
					+img('team-3-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Todd Moore
					span Traumatologist
			.team-member-profile
				.team-member-profile__media
					+img('team-4-370x460')
				.team-member-profile__caption
					h5: a(href="single-doctor.html") Dr. Jason Ramirez
					span Surgeon




