section.section.section-lg.bg-image-4
	.container.text-center.text-sm-left
		.pre-title.wow.fadeInLeft Testimonials
		h2.wow.fadeInLeft(data-wow-dalay=".2s") What our #[span.text-primary patients] say
		.owl-carousel.owl-theme.owl-style-1( data-items='1', data-sm-items='1', data-md-items='2', data-lg-items='2', data-margin='30px', data-nav='true', data-dots='true', data-autoplay='3000')
			.review-box
				.review-box__media
					+img('review-1-56x56')
				.review-box__caption
					p I wanted to thank everyone at this facility for the quality of care and compassion they showed during my stay. I went into the emergency room . The staff in every part of the clinic was friendly, they made me laugh which kept my spirits up.
					.review-box__caption-group
						h6 Linda Kelly
						span Patient
			.review-box
				.review-box__media
					+img('review-2-56x56')
				.review-box__caption
					p Today is my last day of infusion. But I know I will be back …not as a patient but a visitor. I have only positive things to say about the nurses at MedCare here at infusion unit and also on the 4th Floor. They all called me by my name when I walked in the door.
					.review-box__caption-group
						h6 Katherine Wong
						span Patient
			.review-box
				.review-box__media
					+img('review-3-56x56')
				.review-box__caption
					p They listen to you, and are genuinely concerned about providing you the best care possible! I would recommend them to everyone!
					.review-box__caption-group
						h6 Johnny Watson
						span Patient
			.review-box
				.review-box__media
					+img('review-4-56x56')
				.review-box__caption
					p The costs of treatments are very reasonable at MedCare and I have always been impressed with the results. The fully medically qualified team at the clinic are professional, friendly and trustworthy.
					.review-box__caption-group
						h6 Jack Rivera
						span Patient
